@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <label>Current Password</label>    
    <input type="password" name="oldPassword" />
    <label>New Password</label>
    <input type="password" name="newPassword" />
    <button type="submit">Change</button>
}