@{
    ViewBag.Title = "LogOn";
}

<h2>LogOn</h2>

@using (Html.BeginForm())
{
    <label>User id</label>
    <input type="text" name="userName"/>
    <label>Password</label>
    <input type="password" name="password" />
    <button type="submit">Log in</button>
}