@model FlexCMS.Areas.Admin.Controllers.ArticlesController.EditArticle
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Pages/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Articles", FormMethod.Post, new { autocomplete = "off", @class = "block-left" }))
{
    @Html.HiddenFor(m => m.ArticleId)
    @Html.Partial("_NewOrEdit", Model)
    
    <button type="submit">Save</button>
}
