@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Sections", "Index", "Sections", new { area = "Admin"}, null) <br/>
@Html.ActionLink("Articles", "Index", "Articles", new { area = "Admin" }, null)
