@model FlexCMS.Areas.Admin.Controllers.SectionsController.AddSection

<div>
    <label>Name</label>
    @Html.TextBoxFor(m => m.Name)
</div>
<div>
    <label>Route Path</label>
    @Html.TextBoxFor(m => m.RoutePath, new { size = 40 })
</div>

