@model  FlexCMS.Areas.Admin.Controllers.SectionsController.EditSection

@{
    ViewBag.Title = "Edit Section";
    Layout = "~/Areas/Admin/Views/Sections/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SectionId)
    @Html.Partial("_NewOrEdit", Model)

    <button type="submit">Save</button>
}