@model List<FlexCMS.Areas.Admin.Controllers.SectionsController.SectionListing>

@{
    ViewBag.Title = "Sections";
    Layout = "~/Areas/Admin/Views/Sections/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("New Section", "Add")
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(i => i.FullRoute))
            {
                <tr>
                    <td>
                        @Html.Raw(item.FullRoute) [@item.Name]
                    </td>
                    <td>
                       @Html.ActionLink("Edit", "Edit", new { id = item.SectionId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>