@model FlexCMS.Areas.Admin.Controllers.RoutesController.NewRoute

<div>
    <label>Path</label>
    @Html.TextBoxFor(m => m.Path)
</div>
<div>
    <label>Description</label>
    @Html.TextAreaFor(m => m.Description)
</div>


