@model FlexCMS.Areas.Admin.Controllers.RoutesController.EditRoute

@{
    ViewBag.Title = "Update Route";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    
    @Html.HiddenFor(m => m.RouteId)
    @Html.Partial("_NewOrEdit", Model)

    <button type="submit">Add</button>
}