 @model FlexCMS.Areas.Admin.Controllers.PagesController.AddPage

<div>
    <label>Name</label>
    @Html.TextBoxFor(m => m.Name)
</div>
<div>
    <label>Route</label>
    /@Html.TextBoxFor(m => m.Route)
</div>
<div>
    <label>Content</label>
    @Html.TextAreaFor(m => m.Content)
</div>