@model  FlexCMS.Areas.Admin.Controllers.PagesController.AddPage

@{
    ViewBag.Title = "New Page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.Partial("_NewOrEdit", Model)
    
    <button type="submit">Save</button>
}
