<nav>
    @Html.ActionLink("Articles", "Index", "Articles", new { area = "Admin" }, null) <br />
    @Html.ActionLink("Pages", "Index", "Pages", new { area = "Admin" }, null) <br />
    @Html.ActionLink("Sections", "Index", "Sections", new { area = "Admin" }, null) <br />
</nav>

@RenderBody()